<div class='container' id='edit_membership'>
  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <h3>New special offer</h3>

      <%= render "form", special_offer: @special_offer %>

      <br>

      <div>
        <%= link_to "Back to special offers", lounge_special_offers_path(@special_offer.lounge) %>
      </div>

    </div>
  </div>
</div>

