<div class='container', id='edit_lounge'>
  <h1>Editing lounge</h1>

    <div class='mt-5'>
      <%= render "form", lounge: @lounge %>
    </div>

  <br>

  <div>
    <%= link_to "Back to lounge", lounge_path %>
  </div>
</div>