<p style="color: green"><%= notice %></p>
<div class='container' id='show_lounge'>
  <% if current_user.id == @lounge.user_id %>
    <%= render 'shared/lounge_owner_navbar', locals: { current_user: current_user} %>
  <% else %>
    <%= render 'shared/lounge_visitor_navbar' %>
  <% end %>
  <%= render @lounge %>
</div>