<h3>Hi, <%= @membership.first_name %></h3>

<p>
  Your membership with <%= @lounge.name %> has been cancelled. if you feel this has been done in error, please contact the lounge at: <%= @lounge.phone_number %> or
  <%= @lounge.email %>
</p>
