<div class='container', id='edit_lounge'>
  <h3>New event</h3>

  <div class='mt-5'>
    <%= render "form", event: @event %>
  </div>

  <div>
    <%= link_to "Back to events", lounge_events_path(@lounge) %>
  </div>
</div>